@import 'fonts.css';
@import 'icons.css';
@import 'variables.css';
@import 'normalize.css';
@import 'base.css';
@import 'home.css';




/* Installation */
.installation {
  display: flex;
  justify-content: center;
}

.installation pre {
  width: 700px;
}

/* end installation */

