body > * {
  padding: 1em 2em;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
}

/* Header */
body > header {
  text-align: center;
}

/* End header */

/* Installation */
.installation {
  display: flex;
  justify-content: center;
}

.installation pre {
  width: 700px;
}

/* end installation */

/* Demos */

.demos nav {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#refresh {
  width: 100px;
  justify-self: end;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
}

.tabs li {
  display: inline;
}

.tabs button {
  --borderColor: #000;
  border-left: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  margin-right: 10px;
  padding: 0.5em 1em;
}

.tabs li.selected button {
  background-color: tomato;
}

.examples > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.examples iframe {
  width: 100%;
  border: 1px solid tomato;
  min-height: 500px;
}
/* End demos */